<html>
  <head>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <script>
      $(function() {
        $('input[name="daterange"]').daterangepicker({
          opens: 'left'
        }, function(start, end, label) {
          console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
        });
      });
    </script>
  </head>
  <body>
    <div class="header">
      <h1>Makers BnB</h1>
      <p>Add new listing<p>
    </div>

  <form action="/add-listing/add" method='post'>
  <label for='title'> Listing Name </label><br>
    <input type='text' id='title' name='title' placeholder="Listing Name"/> <br>
  <label for='description'> Add a short description </label> <br>
    <textarea id="description" name="description" placeholder="Add a short description.." style="height:200px"></textarea><br>
  <label for='price'> Price Per Night </label> <br>
    <input type='text' id='price' name='price' placeholder="Price per night"/> <br>
  <label for='postcode'> Postcode </label> <br>
    <input type='text' id='postcode' name='postcode' placeholder="Postcode"/> <br>
  <label for='daterange'> Availability </label> <br>
    <input type='text' id='daterange' name='daterange'/> <br>
    
  <input type='submit' value='Submit'/>

  </form>
</body>
</html>
