<html>
  <head>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <script>
      $(function() {
        $('input[name="daterange"]').daterangepicker({
          opens: 'left'
        }, function(start, end, label) {
          console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
        });
      });
    </script>
  </head>
  <body>
    <div class="wrapper fadeInDown">
      <div id="formContent">
        <img src="/images/logo_blue.png" id="logo" alt="logo" height="60"; width:="150"/>
      <br>
    <h1> Add a new Listing </h1>

      <form action="/add-listing/add" method='post'>
          <input type='text' id='title' class="fadeIn first" name='title' placeholder="Listing Name"/> <br>
        <label for='description'class="fadeIn second"> </label> <br>
          <textarea id="description" name="description" class="fadeIn second" placeholder="Add a short description.." style="height:100px"></textarea><br>
          <input type='text' id='price' name='price' class="fadeIn third" placeholder="Price per night"/> <br>
          <input type='text' id='postcode' name='postcode' class="fadeIn fourth" placeholder="Postcode"/> <br>
        <label for='daterange' class="fadeIn fourth"><h2>Dates Available</h2></label> <br>
          <input type='text' id='daterange' name='daterange' class="fadeIn fourth"/> <br>
          
        <input type='submit' value='Submit'/>
      </form>
    </div>
  </div>

</body>
</html>
