    
 <body>
    <div class="wrapper fadeInDown">
      <div id="formContent">
        <img src="/images/logo_blue.png" id="logo" alt="logo" height="60"; width:="150"/>
      <br>
      <h1 class="title">You've just added a new space:</h1><br>

      <h2><%= @listing.last.title %></h2><br>
      <p><%= @listing.last.description %></p>
    </div>
  </div>

  <div class="wrapper fadeInDown">
    <div id="formContent">
      <br>
      <form action="/home" method='get'>
        <input type= 'submit' value='Return to homepage' >
      </form>

      <form action = "/view-listings" method='get'>
        <input type= 'submit' value='View All Listings' >
      </form>
    </div>
  </div>
</body>
