   <body>
    <div class="header">
      <h1>Makers BnB</h1>
      <p>Edit this listing<p>
    </div>

    <p>Please update all fields<p>
    
<form action="/my-listings/<%= @edit_listing.id%>" method='post'>
 <input type="hidden" name="_method" value="patch" />
  <label for='title'> Listing Name </label><br>
    <input type='text' id='title' name='title' placeholder="Listing Name"/> <br>
  <label for='description'> Add a short description </label> <br>
    <textarea id="description" name="description" placeholder="Add a short description.." style="height:200px"></textarea><br>
  <label for='price'> Price Per Night </label> <br>
    <input type='text' id='price' name='price' placeholder="Price per night"/> <br>
  <label for='postcode'> Postcode </label> <br>
    <input type='text' id='postcode' name='postcode' placeholder="Postcode"/> <br>
 
  <input type='submit' value='Submit'/>

  </form>