
<body id="body_home">
  <div class="wrapper fadeInDown">
  
  <div style="background-image: url('/images/london.jpg')"> </div>
  <div id="formContent">
  <br>
    <img src="/images/logo_blue.png" id="logo" alt="logo" height="60"; width:="150"/>
  <br>
  <p>Welcome from Al, Emanuele, Minsi and Sophie </p>

        <form action="/add-listing" method='get'>
          <input type= 'submit' class="homepage" value='New Listing' >
        </form>
        <form action = "/view-listings" method='get'>
          <input type= 'submit' class="homepage" value='View All Listings' >
        </form>
        <form action = "/my-listings" method='get'>
          <input type = 'submit' value='View My Listings '>
        </form>
    </div>
   </div>
</body>

