<!DOCTYPE html>
<html>
  <head>

  </head>

<h1>Welcome to Emanuele, Al, Minsi and Sophie's Makers BNB </h1>


<form action="/add-listing" method='get'>
<input type= 'submit' value='New Listing' >
</form>
<br>
<form action = "/view-listings" method='get'>
<input type= 'submit' value='View All Listings' >
</form>

</html>
