<!DOCTYPE html>
<html>
  <head>
    
  </head>
<body class="home" >
<div class="wrapper fadeInDown" >
  <div id="formContent">
    <!-- Tabs Titles -->
<br>
    <img src="/images/logo_blue.png" id="logo" alt="logo" height="60"; width:="150"/>
<br>
    <h2 class="active"> Sign In </h2>
   

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="/images/dreamteam.jpg" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form action='/home'>
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="Username">
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="Password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <h3> Not part of the gang? </h3>
      <a class="underlineHover" href="/sign-up">Sign up</a>
    </div>

  </div>
</div>
</body>
</html>
