<!DOCTYPE html>
<html>
  <head>

  </head>
<body>
  <div class="header">
  <h1>Makers BnB</h1>
  <p>Welcome from Al, Emanuele, Minsi and Sophie </p>
</div>

<div>
<form action="/add-listing" method='get'>
<input type= 'submit' class="homepage" value='New Listing' >
</form>
<br>
<form action = "/view-listings" method='get'>
<input type= 'submit' class="homepage" value='View All Listings' >
</form>
</div>
</body>
</html>
