<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="public/style.css">
  </head>
    <body>
      <script img src="public/images/bedroom_image_1.jpg"></script>
      <h1>Welcome to Emanuele, Al, Minsi and Sophie's Makers BNB </h1>


      <form action="/add-listing" method='get'>
      <input type= 'submit' value='New Listing' >
      </form>
      <br>
      <form action = "/view-listings" method='get'>
      <input type= 'submit' value='View All Listings' >
      </form>
    </body>

</html>
