<html>
    <head>
        <title> My Listings </title>
    </head>

    <body>
        <h1>My Listings</h1>
        <br><br>

        <form action="/add-listing" method="get">
        <input type="submit" value="Add a new Listing">ruby
        </form>

    </body>


    


</html>