    <div class="header">
      <h1>Makers BnB</h1>
      <p>Welcome! Create an account <p>
       </div>


<!DOCTYPE html>
<html>
  <head>
    
  </head>

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->


    <h2 class="inactive underlineHover"> Sign In </h2>
    <h2 class="active"> Sign Up </h2>


    <!-- Login Form -->
    <form action='/home'>
      <input type="text" id="username" class="fadeIn second" name="login" placeholder="username">
      <input type="text" id="email" class="fadeIn second" name="login" placeholder="email">
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
      <input type="text" id="password2" class="fadeIn third" name="login" placeholder="confirm password">

      <input type="submit" class="fadeIn fourth" value="Sign Up">
    </form>

    <!-- Remind Passowrd -->
    

  </div>
</div>

</html>
   


