<h1> Welcome to Makers BnB </h1>

<h2> Create account: </h2>
 <form action="/sign-up" method='post'>
   <label for='username'> Enter a Username </label> <br>
  <input type='text' id='username' name='username'/> <br>

  <label for='email'> Enter you email  </label><br>
  <input type='text' id='email' name='email'/> <br>

  <label for='password'> Enter a password </label> <br>
  <input type='text' id='password' name='password'/> <br>

  <label for='password2'> Confirm password </label> <br>
  <input type='text' id='password2' name='password2'/> <br>
  <input type='submit' value='Sign Up'/>

<h2> Already have an account? </h2>
  <form action="/login-in" method='get'>
  <input type='submit' value='Sing in'/>

  