<html>
  <head>
    <title>Listings
    </title>
  </head>
  <body>
    <h1> Current listings</h1>
    <ul><% @all_listing.each do |listing|  %>
      <li>
        <%= listing.title %><br>
        <%= listing.description %><br>
        <%= listing.postcode.upcase %><br>
        £<%= listing.price %>.00<br>
        <% end %>
      </li>
    </ul>






  </body>






</html>
