<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
       <title>Listings</title>
      <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
      <link rel="stylesheet" href="/resources/demos/style.css">
      <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      <script>
    $( function() {
      $( "#datepicker" ).datepicker({ dateFormat: 'dd-mm-yy' });
    } );
    </script>
  </head>

  <body>
  <div class="wrapper fadeInDown" >

    <div id="formContent"> 
    <br>
      <img src="/images/logo_blue.png" id="logo" alt="logo" height="60"; width:="150"/>
    <br>
    <h1>Current Listings </h1>
    
 
  <form action="/check-availability" method="post">
    <p>When would you like to stay? </p>
    <input type="text" id="datepicker" name="date">
    <input type="submit" value="Check Availability">
  </form>

    </div>
  </div>
  
  <% @all_listing.each do |listing|  %>
    <div class="wrapper fadeInDown" >
      <div id="formListings"> 
          <h3><%= listing.title %></h3>
          <%= listing.description %><br>
          <%= listing.postcode.upcase %><br>
          £<%= listing.price %>.00<br><br>
        </div>
      </div>
    <% end %>
  
    
 

    </body>
</html>
