<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
       <title>Listings</title>
      <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
      <link rel="stylesheet" href="/resources/demos/style.css">
      <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      <script>
    $( function() {
      $( "#datepicker" ).datepicker({ dateFormat: 'dd-mm-yy' });
    } );
    </script>
  </head>

  <body>
  <div class="header">
    <h1>Makers BnB</h1>
    <p>Current Listings <p>
  </div>
 
  <form action="/check-availability" method="post">
    <p>When would you like to stay? </p>
    <br>
    <input type="text" id="datepicker" name="date">
    <input type="submit" value="Check Availability">
  </form>

  
  <% @all_listing.each do |listing|  %>
  <li>
    <div class="row">
      <div class="column">
        <div class="card">
          <h3><%= listing.title %></h3>
          <%= listing.description %><br>
          <%= listing.postcode.upcase %><br>
          £<%= listing.price %>.00<br><br>
          <% end %>
        </div>
      </div>
    </div>
  </li>
    
 
    </body>
</html>
